.contenedor {
    flex-wrap: wrap;
    display: flex;
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    width: 100px;
    height: 100px;
    background-color: bisque;
    justify-content: center;

}